<template lang="pug">
  div
    h6(:class="$style.header") wutucall something that {{query}}
    v-list(:class="$style.list")
      template(v-for="option in options")
        v-divider
        v-list-tile(@click="onClick(option)", :class="$style.clickable", ripple)
          v-list-tile-content(v-text="option.text", :class="{[$style.reject]: option.isReject}")
          v-list-tile-action
            v-icon(:class="{[$style.reject]: option.isReject}") chevron_right
    v-divider
</template>

<script>
  import VueTypes from 'vue-types';

  export default {
    props: {
      onLike: VueTypes.func.isRequired,
      onReject: VueTypes.func.isRequired,
      names: VueTypes.array.def([]),
      query: VueTypes.string.def('?')
    },
    methods: {
      onClick(option) {
        if (option.isReject) {
          this.onReject(option.text);
        } else {
          this.onLike(option.text);
        }
      }
    },
    computed: {
      options() {
        if (this.names.length > 0) {
          const reject = { text: 'not even close', isReject: true };
          return [...this.names.map(name => ({ text: name, isReject: false })), reject];
        }
        return [];
      }
    }
  };
</script>

<style module>
  .list {
    background: inherit !important;
    padding: 0;
  }
  .header {
    padding: 0;
    font-size: 16px;
    font-weight: normal;
    font-style: italic;
    color: #fff;
  }
  .clickable {
    cursor: pointer;
  }
  .clickable > a:hover {
    background: inherit !important;
  }
  .reject {
    color: #03a9f4 !important;
  }
</style>
