<template lang="pug">
  div
    v-text-field(
      v-model="ideas",
      :label="prompt",
      color="light-blue",
      autocorrect="off",
      autocapitalize="none",
      v-on:keyup.enter="addNames",
    )
    wc-btn(text="no", icon="close", :onClick="onNoIdeas")
    wc-btn(text="go", icon="done", color="green", :onClick="addNames")
</template>

<script>
  import VueTypes from 'vue-types';
  import Button from '@/components/button';

  export default {
    components: {
      'wc-btn': Button
    },
    data() {
      return { ideas: '' };
    },
    methods: {
      addNames() {
        this.onAddNames(this.ideas);
      }
    },
    props: {
      query: VueTypes.string.def('?'),
      onNoIdeas: VueTypes.func.isRequired,
      onAddNames: VueTypes.func.isRequired
    },
    computed: {
      prompt() {
        return `any ideas for something that ${this.query}?`;
      }
    }
  };
</script>
