<template lang="pug">
  v-layout
    v-flex(text-xs-center relative)
      transition(name="fade" mode="out-in")
        wc-question(v-if="askWutucall")
        wc-answers(v-if="showNames")
        wc-any-ideas(v-if="askForIdeas")
      v-btn(fixed, fab, small, bottom, right, :color="online ? 'green' : 'blue-grey'")
        v-icon {{online ? 'cloud_queue' : 'cloud_off'}}
</template>

<script>
  import VueTypes from 'vue-types';
  import Question from '@/containers/question.container';
  import Answers from '@/containers/answers.container';
  import AnyIdeas from '@/containers/any-ideas.container';

  export default {
    components: {
      'wc-question': Question,
      'wc-answers': Answers,
      'wc-any-ideas': AnyIdeas
    },
    props: {
      askWutucall: VueTypes.bool.def(true),
      showNames: VueTypes.bool.def(false),
      askForIdeas: VueTypes.bool.def(false),
      online: VueTypes.bool.def(true)
    }
  };
</script>
