<template lang="pug">
  transition(appear name="fade" mode="in-out")
    v-app(dark)
        main
          v-container(fluid fill-height)
            app-content
</template>

<script>
  import AppContent from '@/containers/app-content.container';

  export default {
    name: 'app',
    components: { 'app-content': AppContent }
  };
</script>

<style>
  .fade-enter-active, .fade-leave-active {
    transition: opacity .4s
  }
  .fade-enter, .fade-leave-to {
    opacity: 0
  }
</style>

