<template lang="pug">
  v-btn(@click="onClick", :loading="loading", :disabled="disabled", :color="color", flat, large)
    span.btn-text {{text}}
    v-icon {{icon}}
</template>

<script>
  import VueTypes from 'vue-types';

  export default {
    props: {
      text: VueTypes.string.def(''),
      icon: VueTypes.string.def('chevron_right'),
      color: VueTypes.string.def('light-blue'),
      onClick: VueTypes.func.def(() => {}),
      disabled: VueTypes.bool.def(false),
      loading: VueTypes.bool.def(false)
    }
  };
</script>

<style>
  .btn-text {
    padding-right: 10px;
  }
</style>
