<template lang="pug">
  div
    v-text-field(
      v-model="query",
      label="wutucall something that...",
      color="light-blue",
      autocorrect="off",
      autocapitalize="none",
      v-on:keyup.enter="go"
    )
    wc-btn(text="go", color="green", :onClick="go", :loading="status.busy", :disabled="status.busy")
</template>

<script>
  import VueTypes from 'vue-types';
  import Button from '@/components/button';

  export default {
    components: { 'wc-btn': Button },
    data() {
      return { query: this.initialQuery };
    },
    methods: {
      go() {
        this.onFind(this.query);
      }
    },
    props: {
      onFind: VueTypes.func.isRequired,
      initialQuery: VueTypes.string,
      status: VueTypes.shape({
        busy: VueTypes.bool,
        failed: VueTypes.bool
      })
    }
  };
</script>

<style module>
  .find {
    padding-right: 10px;
  }
</style>
